/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/verdana.css";
@import "fonts/ravie.css";

:root {
  --cor-do-fundo-baixo: #4599b2;
  --cor-do-fundo-topo: #f6f1b2;
  --cor-da-letra: black;
  /* ... */
}

body {
  background-color: #fff;
  font-family: 'verdana', sans-serif;
  margin: 0px 0px 0px 0px;
}

h1 {
  font-family: 'Ravie', sans-serif;
}

strong {
  color: #d027aa;
}

#recipiente {
  background-image: linear-gradient(to bottom ,var(--cor-do-fundo-topo) ,var(--cor-do-fundo-baixo) 80%);
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aac0ae;
  border-bottom: 1px solid #aac0ae;
  border-left: 1px solid #aac0ae;
}

#cardapio h3 {
  font-size: 18px;
  color: var(--cor-da-letra);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-da-letra);
}


/* EXERCÍCIO 2: layout da página */

#recipiente {
  /* layout da página aqui */
  /* ... */
  /* ... */
  /* ... */
  /* ... */
  display: grid;
  grid-template-columns: 154px 800px ;
  grid-template-rows:100px auto 100px ;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

html, body, #recipiente {
  min-height: 100vh;
}

#cabecalho-pagina {
grid-column: 2/3;
grid-row: 1/2;
}

#lateral {
grid-column: 1/2;
grid-row: 1/4;
}

#cardapio {
grid-column: 2/3;
grid-row: 2/3;
padding-left: 20px;
padding-right: 20px;
}

#rodape-pagina {
  grid-column: 2/3;
  grid-row: 3/4;

}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
padding: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: #e90c0c;
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: normal;
  text-align: end;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}



/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  padding-top: 46px;
  padding-bottom: 25px;
  padding-right: 15px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  left: -89px;
  transition: left 100ms ease-out; 
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */

   @media (prefers-color-scheme: dark) {
    :root {
      --cor-do-fundo-baixo: #031a22;
      --cor-do-fundo-topo: #1c404d;
      --cor-da-letra: white;
      /* ... */
    }
  }